---
export interface Props {
  href: string;
  variant?: 'primary' | 'secondary';
  label?: string;
}

const { href, variant = 'primary', label } = Astro.props;
const className = `button ${variant}`;
---

<a class={className} href={href} aria-label={label}>
  <slot />
</a>
